@font-face {
	font-display: fallback;
	font-family: "Delisia";
	src: url('../fonts/353669_0_0.woff2') format('woff2'),
	     url('../fonts/353669_0_0.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
