@mixin visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	a:focus,
	input:focus,
	button:focus { 
	    position:static; 
	    width:auto; height:auto;  
	}
}

// mac font smoothing switching
// please use extremely carefully http://usabilitypost.com/2012/11/05/stop-fixing-font-smoothing/
// rather use case may be **light text on dark background**
// switching off fontsmoothing is prohibited except on high density mobile safari screens (see media query)
// @param {bool} $antialiased [true] - switch on antialiasing
@mixin font-smoothing($antialiased: true) {
	@if $antialiased {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility;
	}
	@else {
		@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-device-pixel-ratio: 1.25), only screen and (min-resolution: 200dpi), only screen and (min-resolution: 1.25dppx) {
			-webkit-font-smoothing: subpixel-antialiased;
			-moz-osx-font-smoothing: auto;
		}
	}
}

@mixin ratio-space($ratio) {
	height: 0;
	position: relative;
	overflow: hidden;
	padding-bottom: $ratio;
}

@mixin fixed-background($color: #333, $image: $xmas_background ) {
	background-attachment: fixed;
	background-color: $color;
	background-image: $image;
	background-position: 50% 50%;
	background-clip: inherit
}
