@font-face {
	font-display: optional;
	font-family: "Serendipity";
	src: url('../fonts/34D003_0_0.woff2') format('woff2'),
	     url('../fonts/34D003_0_0.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
