*, *:before, *:after
	box-sizing: border-box

.body
	+fixed-background($image: $xmas_background)
	color: $darkgray
	display: flex
	flex-direction: column
	font-family: -apple-system, BlinkMacSystemFont, sans-serif
	font-size: 100.01%
	margin: 0
	min-height: 100vh
	padding: 0 0 40px 0

.footer
	display: none

@supports(min-height:100vh)
	.body
		padding: 0
	.footer
		display: block
