.calendar
	display: flex
	flex-wrap: wrap
	margin: 0 auto
	padding: 20px 0

@supports (display: grid)
	.calendar
		align-items: center
		border-top: 1px solid $gray
		display: grid
		grid-auto-rows: minmax(auto, 90px)
		grid-column-gap: 5px
		grid-row-gap: 5px
		grid-template-columns: repeat(auto-fill, minmax(85px, 1fr))
		justify-content: center
		margin-top: 20px
		padding-top: 20px
		+respond-min(1800px)
			grid-auto-rows: minmax(auto, 60px)
			grid-template-columns: repeat(auto-fill, minmax(66px, 24fr))
		span
			+fixed-background($image: $xmas_background)
		a
			+fixed-background($image: $xmas_background_rose)
			&:hover, &:active, &:focus
				background-blend-mode: luminosity
		.item
			align-self: stretch
			border: 1px solid rgba(255, 255, 255, 0.85)
			color: #fff
			display: inline-block
			font-family: Serendipity, cursive
			font-size: 42px
			font-weight: 700
			height: 100%
			line-height: 2
			text-align: center
			text-decoration: none
			text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.85)
			width: 100%
			&--actual
				+fixed-background($image: $xmas_background_blue)
				cursor: default
			&:link, &:visited
				color: #fff

@for $i from 1 through 24
	.item.item--#{$i}
		order: $i

.textlink
	text-align: center
