.days
	display: flex
	flex-wrap: wrap
	flex-direction: row
	justify-content: flex-start
	overflow: auto
.day
	flex: 1
	flex-basis: 100%
	float: left // old old old browser
	+respond-min(500px)
		flex-basis: 25%

@supports (display: grid)
	.days
		display: grid
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
		grid-auto-rows: minmax(180px, auto)
		grid-column-gap: 10px
		grid-row-gap: 10px
		padding: 10px
		overflow: visible
	.day
		align-items: center
		display: flex
		justify-content: center
		justify-self: stretch

.day
	border: 1px solid rgba(255, 255, 255, 0.85)
	position: relative
	z-index: 0
	&__door
		align-self: stretch
		color: #fff
		font-family: Serendipity, cursive
		font-size: 102px
		font-weight: 700
		text-align: center
		text-decoration: none
		text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.85)
		transition: all .25s ease-in-out
		width: 100%
		z-index: 2
	&__link
		+fixed-background()
		bottom: 0
		left: 0
		opacity: 0
		position: absolute
		right: 0
		top: 0
	
@for $i from 1 through 24
	.day.order--#{$i}
		order: $i

.door
	+fixed-background($image: $xmas_background_blue)
	opacity: 1
	overflow: hidden
	&[role=button]
		+fixed-background($image: $xmas_background_rose)
		&:hover, &:active, &:focus
			background-blend-mode: luminosity
	&[aria-expanded=false]
		display: block
	&[aria-expanded=true]
		display: none
		opacity: 0
		z-index: 0
		& ~ .day__link
			opacity: 1
			z-index: 1
	.user-tabbing &:focus
		outline: 5px auto #fff

/* preserve-3d-support in FF seems buggy, esp.  */
@supports not(-moz-transform-style: preserve-3d)
	.days
		transform-style: preserve-3d
	.day
		perspective-origin: 0
		perspective: 850px
		z-index: -1
		&__door
			+fixed-background($image: $xmas_background_blue)
			transform-origin: 0
		&__link
			opacity: 1
	.door
		&[role=button]
			+fixed-background($image: $xmas_background_rose)
		&[aria-expanded=true]
			box-shadow: -6px 1px 27px 0px rgba(0, 0, 0, 0.85)
			display: block
			opacity: 1
			transform: rotateY(-104deg)
			z-index: 1000

