.footer
	+fixed-background($image: $xmas_background_dark)
	+font-smoothing
	color: #fff
	line-height: 1.4
	margin: 0
	padding: 20px 0
	&__wrapper
		padding: 0 30px
	&__details
		margin-top: 5px
	&__summary
		font-size: 14px
		outline: none
		padding: 5px 0
		.user-tabbing &:focus
			outline: 2px solid $blue
			outline: 5px auto -webkit-focus-ring-color
	a
		text-decoration: none
	a:link, a:visited
		color: $blue
	a:hover,
	a:active
		color: inherit
		text-decoration: underline
	p
		font-size: 12px
		margin: 0 0 10px 0
		&:last-child
			margin: 0


