.header
	margin: 40px auto 0	
	max-width: 960px
	text-align: center
	width: 100%
	&__logo
		$svg_height: 450px
		$svg_width: 750px
		background: url('../svg/24rants_logo.svg') no-repeat
		height: ($svg_height/2.5)
		margin: 0 auto
		width: ($svg_width/2.5)
		+respond-min(500px)
			height: ($svg_height/1.6)
			width: ($svg_width/1.6)
	&__text
		+visuallyhidden
	&__subline
		+font-smoothing
		color: #fff
		font-weight: 400
		letter-spacing: 0.05em
		line-height: 1.3
		margin: 0
		a:link, a:visited, a:active, a:hover
			color: #fff
			text-decoration: none
			border-bottom: 1px solid #fff
		+respond-min(500px)
			& br
				display: none
