$name: link
.#{$name}
	+fixed-background($color: #fff, $image: $xmas_background_white)
	box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.7)
	color: darken($darkblue, 40%)
	display: flex
	flex-flow: column
	justify-content: center
	padding: 10px 20px
	text-decoration: none
	top: 0
	&:focus
		outline: 5px auto #fff
	&:visited
		color: darken($darkblue, 20%)
	&[aria-hidden=true]
		display: none
	&[atia-hidden=false]
		display: block	
	&__title
		font-size: 20px
		margin: 0 0 7px 0
		text-align: center
		.#{$name}__link:hover &
			text-decoration: underline
	&__subtitle
		font-size: 14px
		font-weight: 400
		margin: 0
		text-align: center
