.poem
    font-family: "Serendipity", cursive
    font-size: 38px
    line-height: 1.2
    text-align: center
    &__paragraph
        hypens: none
        & + &
            margin-top: 40px
    &__author