.post
	+fixed-background($color: #fff, $image: $xmas_background_light)
	color: $darkgray
	font-size: 16px
	line-height: 1.54
	margin: 0 auto
	padding: 20px
	+respond-min(640px)
		max-width: 600px
	+respond-min(1200px)
		margin-bottom: 40px
		max-width: none
	a
		text-decoration: underline
		&:link
			color: $darkblue
		&:visited
			color: $darkgray
	p
		hyphens: auto
		margin: 0
		word-wrap: break-word
	p + p
		margin-top: 20px
	pre
		overflow: auto
	.entry-header
		margin-bottom: 20px
		padding-top: 20px
		+respond-min(500px)
			+fixed-background($image: $xmas_background_blue)
			color: #fff
			padding: 20px
	.entry-title
		font-family: Delisia, serif
		font-weight: 400
		font-size: 42px
		line-height: 1
		margin: 0
		+respond-min(500px)
			+font-smoothing
			font-size: 52px
			line-height: 0.9
			padding-left: 5px
			text-shadow: 0 0 5px #000
	.entry-subtitle
		font-weight: 300
		font-size: 18px
		margin: 0
		+respond-min(500px)
			+font-smoothing
			background: rgba($darkblue, 0.85)
			display: inline-block
			margin: 0 0 0 -5px
			padding: 0 5px
	.entry-content
		margin-bottom: 40px
		blockquote:not(.poem)
			background: #fff
			border-left: 15px solid $rose
			box-shadow: 2px 2px 15px #ccc
			break-inside: avoid-column
			color: $darkgray
			display: table
			margin: 20px 0
			width: 100%
			overflow: hidden
			padding: 20px
			page-break-inside: avoid
			position: relative
			p
				font-style: italic
				padding-left: 40px
			p:before
				color: #999
				content: "\201C"
				font-family: Georgia, serif
				font-size: 60px
				font-weight: bold
				left: 30px
				position: absolute
				top: 3px
		+respond-min(1200px)
			columns: 400px 2
			column-gap: 40px
			&--fullwidth
				columns: initial
		+respond-min(1800px)
			columns: 400px 3
			column-gap: 40px
			&--fullwidth
				columns: initial
	.aligncenter
		display: table
		margin: 20px -20px
		+respond-min(500px)
			break-inside: avoid-column
			margin: 20px 0
			page-break-inside: avoid
	.size-full,
	img[class*=wp-image]
		height: auto
		width: 100%
	.wp-caption-text
		font-size: 80%
		padding: 5px 20px 0px 20px
		+respond-min(500px)
			padding: 5px 0px 0px
	.entry-footer
		text-align: right
		p:before
			color: $blue
			content: "★"
			display: inline-block
			vertical-align: top
			padding-right: 6px

