.faketweet
	background: #fff
	border-left: 1px solid #e6ecf0
	border-right: 1px solid #e6ecf0
	break-inside: avoid-column
	color: #14171a
	display: table
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
	font-size: 14px
	line-height: 20px
	padding: 9px 12px 15px 70px
	page-break-inside: avoid
	width: 100%
	&:last-child
		border-bottom: 1px solid #e6ecf0
	&::before
		background: #fff url('../img/tweet.png') no-repeat 0 0
		background-size: 340px auto
		content: ""
		display: block
		height: 55px
		margin-left: -61px
		margin-bottom: -24px
	&--first-of-his-name
		border-bottom: 1px solid #e6ecf0
		border-top: 1px solid #e6ecf0
		font-size: 27px
		line-height: 32px
		letter-spacing: .01em
		padding: 9px 12px
		&::before
			background: #fff url('../img/tweetheader.png') no-repeat 0 0
			background-size: 340px auto
			content: ""
			display: block
			height: 66px
			margin: 0
			width: 340px
		&::after
			background: #fff url('../img/tweetfooter.png') no-repeat 0 9px
			background-size: 260px auto
			content: ""
			display: block
			height: 30px
	& + &
		margin-bottom: 0
		margin-top: 0
