.jetpack-video-wrapper
	iframe
		max-width: 100%
	p + &,
	& + p
		margin-top: 20px

.post .video-fullwidth
	height: 0
	margin-bottom: 20px
	overflow: hidden
	padding-bottom: 56.25%
	padding-top: 0px
	position: relative
	iframe
		height: 100%
		left: 0
		position: absolute
		top: 0
		width: 100%
